@font-face {
  font-family: 'open_sans';
  src: url('./fonts/opensans-regular-webfont.woff2') format('woff2'),
       url('./fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sans';
  src: url('./fonts/opensans-bold-webfont.woff2') format('woff2'),
       url('./fonts/opensans-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;

}

body {
  background-color: #001821;
  color: #ffffff;
  font-family: 'open_sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42;
  width: 100%;
  background-image: url(./img/bg-top.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}

.wrapper {
  width: 1150px;
  margin: 0 auto;
}

.logo, .header__nav, .contacts {
  display: inline-block;
  vertical-align: middle;
}

.header {
  margin: 37px 0 167px 0;
}

.logo {
  margin: 0 66px 0 0;
  text-align: left;
}

.menu {
  margin: 0;
  padding: 0;
}

.menu__item {
  display: inline-block;
  margin: 0 55px 0 0;
}

.menu__title, .contacts__phone, .contacts__schedule {
  color: #ffffff;
  text-decoration: none;
}

.menu__title:hover {
  color: #f5170e;
}

.contacts {
  float: right;
  font-style: normal;
}

.contacts__schedule {
  display: block;
  text-align: right;
  text-decoration: underline;
}

.contacts__phone {
  font-size: 26px;
}

.contacts__schedule-list {
  display: none;
  padding: 20px 14px 16px 18px;
  margin: 8px 0 0 0;
}

.contacts__schedule:hover + .contacts__schedule-list {
  display: block;
  float: right;
  color: #1e1f20;
  opacity: 0.8;
  background-color: #ffffff;
  border-radius: 4px;
  width: 140px;
}

.contacts__work-time, .contacts__lunch-time {
  margin: 0;
}

.contacts__work-time {
  font-weight: bold;
}

.promo {
  width: 520px;
  margin: 0 0 210px 0;
}

.promo__title {
  font-size: 72px;
  line-height: 1.1;
  font-weight: bold;
  margin: 0;
}

.promo__description {
  font-size: 18px;
}

.button {
  display: inline-block;
  width: 165px;
  height: 52px;
  border-radius: 26px;
  background-color: #f5170e;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  line-height: 52px;
  font-weight: bold;
  text-transform: uppercase;
}

.tours {
  margin-bottom: 150px;
}

.tours__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 45px;
}

.tours__item {
  display: inline-block;
  width: 360px;
  margin-right: 31px;
  background-color: #ffffff;
  border-radius: 6px;
  padding: 20px;
  position: relative;
  box-sizing: border-box;
}

.tours__item:last-child {
  margin-right: 0;
}

.tours__pic {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px 6px 0 0;
}

.tours__name {
  font-size: 24px;
  color: #000000;
  margin-top: 145px;
  margin-bottom: 15px;
  font-weight: bold;
}

.tours__facts {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.tours__duration, .tours__food {
  display: inline-block;
}

.tours__duration {
  margin-right: 30px;
}

.tours__icon {
  margin-right: 5px;;
}

.tours__description {
  color: #303030;
  margin-bottom: 22px;
}

.tours__link {
  width: 130px;
  height: 50px;
  background-color: #ffffff;
  border: solid 1px rgba(245, 23, 14, 0.4);
  color: #d21d16;
  line-height: 50px;
  margin-bottom: 13px;
}

.tours__link:hover {
  border: solid 1px rgba(245, 23, 14, 0.4);
  background-color: #f5170e;
  color: #fff;
}

.tidings__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 35px;
}

.news__item {
  display: inline-block;
  height: 341px;
  width: 495px;
  vertical-align: top;
  margin-bottom: 40px;
  padding: 25px 30px;
  border-radius: 6px;
  position: relative;
}

.news__pic {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
  z-index: -1;
}

.news__item:first-child {
  margin-right: 27px;
}

.news__date {
  padding: 0;
  margin: 195px 0 15px 0;
}

.news__title {
  font-size: 24px;
  font-weight: bold;
}

.news__description {
  margin: 5px 0 0 0;
  padding: 0;
  font-size: 16px;
}