@font-face {
  font-family: 'open_sans';
  src: url('./fonts/opensans-regular-webfont.woff2') format('woff2'),
       url('./fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sans';
  src: url('./fonts/opensans-bold-webfont.woff2') format('woff2'),
       url('./fonts/opensans-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

body {
  color: #ffffff;
  font-family: 'open_sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42;
  width: 100%;
  background: url(../img/bg-top.jpg) top center no-repeat,
              #001821 url(../img/bg-footer.jpg) center calc(100% - 172px) no-repeat;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul, li, p {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}

button {
  cursor: pointer;
  background: transparent;
  border: none;
}

.wrapper {
  width: 1150px;
  margin: 0 auto;
}

.logo, .header__nav, .contacts, .footer__nav, .socials {
  display: inline-block;
  vertical-align: middle;
}

.header {
  margin-top: 37px;
  margin-bottom: 167px;
}

.logo {
  margin-right: 66px;
  text-align: left;
}

.menu {
  margin: 0;
  padding: 0;
}

.menu__item {
  display: inline-block;
  margin-right: 55px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__title, .contacts__phone, .contacts__schedule {
  color: #ffffff;
  text-decoration: none;
}

.menu__title:hover {
  color: #f5170e;
}

.contacts {
  float: right;
  font-style: normal;
}

.contacts__schedule {
  display: block;
  text-align: right;
  text-decoration: underline;
}

.contacts__phone {
  font-size: 26px;
}

.contacts__schedule-list {
  display: none;
  padding: 20px 14px 16px 18px;
  margin-top: 8px;
}

.contacts__schedule:hover + .contacts__schedule-list {
  display: block;
  float: right;
  color: #1e1f20;
  opacity: 0.8;
  background-color: #ffffff;
  border-radius: 4px;
  width: 140px;
}

.contacts__work-time, .contacts__lunch-time {
  margin: 0;
}

.contacts__work-time {
  font-weight: bold;
}

.promo {
  width: 520px;
  margin-bottom: 210px;
  display: inline-block;
}

.promo__title {
  font-size: 72px;
  line-height: 1.1;
  font-weight: bold;
  margin: 0;
}

.promo__description {
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 30px;
}

.button {
  display: inline-block;
  min-width: 165px;
  min-height: 52px;
  border-radius: 26px;
  background-color: #f5170e;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  line-height: 52px;
  font-weight: bold;
  text-transform: uppercase;
}

.tours {
  margin-bottom: 150px;
}

.tours__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 45px;
}

.tours__item {
  display: inline-block;
  width: 360px;
  margin-right: 31px;
  background-color: #ffffff;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  padding-bottom: 13px;
}

.tours__item:last-child {
  margin-right: 0;
}

.tours__pic {
  min-height: 100%;
  min-width: 100%;
}

.tours__name {
  font-size: 24px;
  color: #000000;
  margin-bottom: 15px;
  font-weight: bold;
}

.tours__content {
  padding: 20px;
}

.tours__facts {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.tours__duration, .tours__food {
  display: inline-block;
}

.tours__duration {
  margin-right: 30px;
}

.tours__icon {
  margin-right: 5px;
}

.tours__description {
  color: #303030;
  margin-bottom: 22px;
}

.tours__link {
  min-width: 130px;
  min-height: 50px;
  background-color: #ffffff;
  border: solid 1px rgba(245, 23, 14, 0.4);
  color: #d21d16;
  line-height: 50px;
}

.tours__link:hover {
  border: solid 1px rgba(245, 23, 14, 0.4);
  background-color: #f5170e;
  color: #fff;
}

.tidings__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 35px;
}

.news {
  margin-bottom: 40px;
}

.news__item {
  display: inline-block;
  width: 495px;
  min-height: 341px;
  vertical-align: top;
  padding: 25px 30px;
  border-radius: 6px;
  position: relative;
}

.news__item:first-child {
  margin-right: 27px;
}

.news__pic {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
  z-index: -1;
}

.news__content {
 position: absolute;
 bottom: 10px;
 left: 29px;
}

.news__date {
  padding: 0;
  margin-bottom: 15px;
}

.news__title {
  font-size: 24px;
  font-weight: bold;
}

.news__description {
  margin-top: 5px;
  padding: 0;
  font-size: 16px;
}

.tidings {
  padding-bottom: 100px;
}

.paginator {
  text-align: center;
  font-size: 16px;
}

.paginator__page, .paginator__list, .paginator__item {
  display: inline-block;
}

.paginator__page {
  margin-right: 10px;
}

.paginator__link {
  display: inline-block;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  width: 32px;
  height: 32px;
  line-height: 32px;
}

.paginator__link:hover {
  background-color: #fff;
  border-radius: 16px;
  vertical-align: middle;
  color: #d21d16;
}

.about {
  margin-bottom: 40px;
}

.about__image, .about__content {
  display: inline-block;
  vertical-align: top;
}

.about__content {
  background-image: url(../img/mountain.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-color: #fff;
  width: 590px;
  height: 323px;
  color: #303030;
  border-radius: 6px;
  margin-left: -128px;
  margin-top: 107px;
  padding: 65px 95px;
}

.about__pic {
  width: 488px;
  height: 502px;
  border-radius: 6px;
}

.about__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 25px;
  color: #000;
}

.about__description {
  font-size: 16px;
  line-height: 1.64;
  margin-bottom: 40px;
}

.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 40px 0;
}

.socials {
  margin-right: 70px;
  margin-left: 230px;
}

.socials__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.socials__link {
  display: inline-block;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__icon {
  opacity: 0.2;
}

.socials__icon:hover {
  opacity: 0.4;
}