html, body {
  height: 100%;
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  color: #ffffff;
  font-family: 'open_sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42;
  width: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  overflow: hidden;
  min-width: 1200px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: url(../../img/bg-top.jpg) top center no-repeat,
  #001821 url(../../img/bg-footer.jpg) center calc(100% - 172px) no-repeat;
}

.wrapper--services {
  background: none;
}

.wrapper__content {
  flex: 1;
}

.container,.main-content {
  width: 1140px;
  margin: 0 auto;
}

.main-content {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

ul, p {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

a {
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
  width: 100%;
}

.section-inner {
  background-color: #ffffff;
  padding-top: 94px;
}
.section-inner--bg--gray {
  background-color: #f4f5f5;
}

.section-inner__title {
  font-size: 48px;
  font-weight: bold;
  color: #202123;
  line-height: 1.1;
  margin-bottom: 87px;
}