html, body {
  height: 100%;
}

body {
  color: #ffffff;
  font-family: 'open_sans', Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42;
  width: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url(../../img/bg-top.jpg) top center no-repeat,
  #001821 url(../../img/bg-footer.jpg) center calc(100% - 172px) no-repeat;
}

.wrapper {
  overflow: hidden;
  min-width: 1150px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper__content {
  flex: 1;
}

.container {
  width: 1150px;
  margin: 0 auto;
}

ul, p {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

a {
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

