.about {
  margin-bottom: 44px;
  display: flex;
}

.about__content {
  background-image: url(../../img/mountain.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-color: #fff;
  max-width: 780px;
  min-height: 454px;
  color: #303030;
  border-radius: 6px;
  margin-left: -128px;
  margin-top: 107px;
  padding: 68px 98px 20px;
}

.about__pic {
  width: 488px;
  height: 502px;
  border-radius: 6px;
}

.about__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 29px;
  color: #000;
}

.about__description {
  font-size: 16px;
  line-height: 1.64;
  margin-bottom: 47px;
}