.attendance {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  margin-bottom: 26px;
}

.attendance__ask {
  color: #1a1b1e;
  font-size: 18px;
  width: 35%;
  margin-right: 10px;
}

.attendance__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.attendance__item {
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 10px;
}