.btn {
  display: inline-flex;
  border-radius: 17px;
  font-size: 13px;
  color: #303030;
  padding: 7px 16px 7px 19px;
  background-color: #e7e7e7;
}

.btn-blue {
  background-color: #b9eae4;
}

.btn-checked:checked ~ .btn {
  background-color: #b9eae4;
}

.btn-checked {
  display: none;
}