.comment {
  padding-bottom: 100px;
}

.comment__profile {
  display: flex;
  margin-bottom: 30px;
}

.comment__input {
  flex: 1;
  border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  font-size: 18px;
  padding: 25px 0 19px 29px;
  color: #1a1b1e;
  margin-right: 30px;
}

.comment__input:last-child {
  margin-right: 0;
}

.comment_input::placeholder {
  color: #666666;
}

.comment__input--textarea {
  margin-bottom: 28px;
  width: 100%;
  min-height: 232px;
  margin-right: 0;
}

.comment__buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.comment__button {
  margin-left: 20px;
}

.comment__button:first-child {
  margin-left: 0;
}