.contacts {
  font-style: normal;
  margin-left: auto;
  position: relative;
}

.contacts__phone {
  line-height: 1.2;
}

.contacts__phone, .contacts__schedule {
  color: #ffffff;
  text-decoration: none;
}

.contacts__schedule {
  display: block;
  text-align: right;
  text-decoration: underline;
}

.contacts__phone {
  font-size: 26px;
}

.contacts__schedule-list {
  display: none;
  padding-top: 15px;
  padding-left: 18px;
  margin-top: 8px;
  font-size: 13px;
  line-height: 1.68;
}

.contacts__schedule:hover + .contacts__schedule-list {
  display: block;
  color: #1e1f20;
  opacity: 0.8;
  background-color: #ffffff;
  border-radius: 4px;
  width: 153px;
  height: 69px;
  position: absolute;
  right: 0;
  top: 45px;
}

.contacts__work-time, .contacts__lunch-time {
  margin: 0;
}

.contacts__work-time {
  font-weight: bold;
}