.hero {
  background: #1a1b1e url('../../img/bg-line.jpg') center top 3px no-repeat;
  padding-bottom: 25px;
  min-height: 415px;
  display: flex;
  flex-direction: column;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}