.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -10;
  animation: welkomeAnimation 2500ms 400ms linear forwards;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.login__logo {
  width: 279px;
  height: 119px;
  margin-bottom: 5px;
  text-overflow: ellipsis;
}

.login__text {
  font-size: 18px;
  color: #ffffff;
  line-height: 1.16;
  margin-bottom: 60px;
}

@keyframes welkomeAnimation {
  0% {
    
  }

 34% {
    transform: scale(0.8);
    z-index: 10;

  }

  45% {
    transform: scale(1);
    z-index: 10;

  }

  60% {
    transform: scale(0.8);
    z-index: 10;

  }

  75% {
    transform: scale(1);
    z-index: 10;
  }

  100% {
    transform: scale(1);
    z-index: 10;
  }
}

