.news__list {
  margin-bottom: 52px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.news__item {
  flex: 1;
  margin-right: 3%;
}

.single-news {
  position: relative;
  border-radius: 6px;
}

.news__item:last-child {
  margin-right: 0;
}