.news {
  margin-bottom: 40px;
  display: flex;
  align-items: flex-start;
}

.news__item {
  width: 555px;
  min-height: 391px;
  padding: 25px 30px;
  border-radius: 6px;
  position: relative;
}

.news__item:first-child {
  margin-right: 27px;
}

.news__pic {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 6px;
}

.news__content {
 position: absolute;
 bottom: 10px;
 left: 29px;
 min-height: 140px;
}

.news__date {
  padding: 0;
  margin-bottom: 15px;
}

.news__title {
  font-size: 24px;
  font-weight: bold;
}

.news__description {
  margin-top: 5px;
  padding: 0;
  font-size: 16px;
}