.paginator {
  text-align: center;
  font-size: 16px;
}

.paginator__page, .paginator__list, .paginator__item {
  display: inline-block;
}

.paginator__page {
  margin-right: 10px;
}

.paginator__link {
  display: inline-block;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  width: 32px;
  height: 32px;
  line-height: 32px;
}

.paginator__link--active {
  background-color: #fff;
  border-radius: 16px;
  color: #d21d16;
}

.paginator__link:hover {
  background-color: #fff;
  border-radius: 16px;
  color: #d21d16;
}