.paginator {
  text-align: center;
  font-size: 16px;
}

.paginator--services {
  color: #000;
}

.paginator, .paginator__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginator__list {
  margin-left: 19px;
}

.paginator__page {
  min-width: 141px;
}

.paginator__item {
  text-align: center;
  margin: 0 1px;
}

.paginator__link {
  display: inline-block;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  width: 32px;
  height: 32px;
  line-height: 32px;
}

.paginator--services .paginator__link {
  color: #000;
}

.paginator__link--active {
  background-color: #fff;
  border-radius: 16px;
  color: #d21d16;
}

.paginator--services .paginator__link--active {
  background-color: #f5170e;
  color: #fff;
}

.paginator__link:hover {
  background-color: #fff;
  border-radius: 16px;
  color: #d21d16;
}

.paginator--services .paginator__link:hover {
  border-radius: 16px;
  background-color: #f5170e;
  color: #fff;
}