.reviews {
  margin-bottom: 45px;
  column-count: 2;
  column-gap: 29px;
}

.reviews__item {
  width: 555px;
  align-self: flex-start;
  margin-bottom: 24px;
}

.review {
  display: inline-flex;
  flex-direction: column;
  border-radius: 4px;
  background-color: #f4f5f5;
  padding: 50px 30px 35px;
}

.review__profile {
  display: flex;
  align-items: center;
}

.review__feature {
  padding: 0 22px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.review__author {
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
  color: #1a1b1e;
  margin: 10px 0 15px 0;
  position: relative;
  border-bottom: 1px solid transparent;
  text-decoration: none;
}

.review__author:hover {
  color: #2e77a4;
  text-decoration: none;
  border-bottom: 1px solid #2e77a4;
  transition: .4s;
}

.review__author::after {
  content: "";
  display: inline-flex;
  margin-left: 22px;
  width: 30px;
  height: 30px;
  background: url('../../img/icons/sprites.png') -122px -56px;
}

.review__tour {
  background-color: #b9eae4;
}

.reviews__tags {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}

.reviews__tag {
  margin-right: 10px;
  margin-bottom: 10px;
}

.review__profile {
  margin-bottom: 27px;
}

.review__name {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #1a1b1e;
}

.review__text {
  line-height: 1.69;
  color: #818181;
  margin-bottom: 43px;
}

.review__date {
  font-size: 14px;
  color: #1a1b1e;
  font-weight: bold;
}