.reviews {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.reviews__item {
  width: 555px;
  margin-right: 29px;
  margin-bottom: 20px;
  margin-top: 24px;
}

.reviews__item:nth-child(2n) {
  margin-right: 0;
}

.review {
  border-radius: 4px;
  background-color: #f4f5f5;
  padding: 50px 29px 35px;
}

.review__profile {
  display: flex;
  align-items: center;
}

.review__avatar-wrap {
  width: 139px;
  height: 139px;
  background-color: #9974d5;
  overflow: hidden;
  border-radius: 50%;
}

.review__feature {
  padding: 0 22px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.review__author {
  font-size: 24px;
  font-weight: bold;
  line-height: 1.75;
  color: #2e77a4;
  padding-bottom: 7px;
}

.review__tour {
  background-color: #b9eae4;
}

.review__profile {
  margin-bottom: 20px;
}

.review__name {
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #1a1b1e;
}

.review__text {
  line-height: 1.69;
  color: #818181;
  margin-bottom: 50px;
}

.review__date {
  font-size: 14px;
  color: #1a1b1e;
  font-weight: bold;
}