.services {
  display: flex;
  flex-direction: column;
  margin-bottom: 42px;
}

.service {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
}

.service__img {
  margin-right: 58px;
  width: 458px;
  height: 330px;
  border-radius: 6px;
}

.service__pic {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

.service__article {
  flex: 1;
  padding-top: 15px;
}

.service__title {
  font-size: 36px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 26px;
}

.service__description {
  margin-bottom: 32px;
  line-height: 1.7;
}

.service__link {
  min-width: 165px;
  min-height: 50px;
  border-radius: 26px;
  font-size: 14px;
  border: solid 1px rgba(245, 23, 14, 0.4);
  background-color: #ffffff;
  color: #d21d16;
}

.service__link:hover {
  color: #ffffff;
  background-color: #f5170e;
}