.socials {
  display: flex;
  align-items: center;
  margin-left: 276px;
}

.socials__item {
  margin-right: 10px;
}

.socials__link {
  display: flex;
  align-items: center;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__icon {
  opacity: 0.2;
}

.socials__icon:hover {
  opacity: 0.4;
}