.tag {
  display: inline-flex;
  border-radius: 17px;
  font-size: 13px;
  color: #303030;
  padding: 7px 16px 7px 19px;
  background-color: #e7e7e7;
}

.tag--blue {
  background-color: #b9eae4;
}

.tag--checkbox:checked ~ .tag {
  background-color: #b9eae4;
}

.tag--checkbox {
  display: none;
}