.tours {
  margin-bottom: 142px;
}

.tours__list {
  display: flex;
  justify-content: space-between;
}

.tours__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 47px;
}

.tours__item {
  width: calc(100% / 3 - 20.66px);
  position: relative;
  display: flex;
  flex-direction: column;
}

.tour {
  background-color: #ffffff;
  border-radius: 6px;
  overflow: hidden;
  box-sizing: border-box;
  padding-bottom: 13px;
}

.tours__item:last-child {
  margin-right: 0;
}

.tour__pic {
  min-height: 141px;
  min-width: 360px;
  object-fit: cover;
}

.tour__name {
  font-size: 24px;
  color: #000000;
  margin-bottom: 15px;
  font-weight: bold;
}

.tour__content {
  padding: 24px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
}

.tour__facts {
  font-size: 16px;
  color: #666;
  margin-bottom: 25px;
  display: flex;
  flex-wrap: wrap;
}

.tour__duration, .tour__food {
  display: flex;
  align-items: flex-end;
  margin-top: 2px;
}

.tour__duration {
  margin-right: 30px;
  margin-left: 7px;
}

.tour__duration::before {
 content: "";
 background-image: url(../../img/calendar.png);
 background-size: 26px 26px;
 display: block;
 width: 26px;
 height: 26px;
 margin-right: 7px;
}

.tour__food {
  margin-left: 11px;
}

.tour__food::before {
  content: "";
  background-image: url(../../img/meal.png);
  background-size: 36px 26px;
  display: block;
  width: 36px;
  height: 26px;
  margin-right: 8px;
}

.tour__description {
  color: #303030;
  margin-bottom: 27px;
  margin-left: 1px;
  line-height: 1.43;
}

.tour__link {
  min-width: 130px;
  min-height: 50px;
  background-color: #ffffff;
  border: solid 1px rgba(245, 23, 14, 0.4);
  color: #d21d16;
  line-height: 50px;
  margin-left: 5px;
  margin-top: auto;
}

.tour__link--bg--red {
  background-color: #f5170e;
  color: #fff;
}

.tour__link:hover {
  background-color: #f5170e;
  color: #fff;
}